<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= @pageTitle %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <!--[if !IE 8]><!-->
    <link rel="stylesheet" type=”text/css”
    href="/stylesheets/govuk-frontend-4.7.0.min.css" /> <link rel="stylesheet"
    type=”text/css” href="/stylesheets/main.css" />
    <!--<![endif]-->
    <!--[if IE 8]>
      <link
        rel="stylesheet"
        href="/stylesheets/govuk-frontend-ie8-<VERSION-NUMBER>.min.css"
      />
    <![endif]-->
  </head>
  <body class="govuk-template__body">
    <script>
      document.body.className = document.body.className
        ? document.body.className + " js-enabled"
        : "js-enabled";
    </script>
    <%= yield %>
    <script
      type="text/javascript"
      src="/javascript/govuk-frontend-4.7.0.min.js"
    ></script>
    <script>
      window.GOVUKFrontend.initAll();
    </script>
  </body>
</html>
