<ul>
<% @outcomes.each do |outcome| %>
  <li><%= outcome %></li>
<% end %>
</ul>
<p> Based on your tax code, you're entitled to a tax-free personal allowance of £<%= @personalAllowance %>. </p>

<!-- <ul>
<% @emergencyOutcomes.each do |outcome| %>
  <li><%= outcome %></li>
<% end %>
</ul> -->