<form action="/tax-code-form/" method="POST">
    <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="taxcode">
      Your tax code
    </label>
  </h1>
  <input class="govuk-input" id="taxcode" name="taxcode" type="taxcode">
</div>
    <button class="govuk-button" data-module="govuk-button">
  Submit
</button>
</form>